body{
    background-color: rgb(255, 243, 188);
    margin: 0px;
}
header{
    height: 50px;
    background-color: rgb(255, 186, 83);
    margin: 0px;
}
h1{
    font-family:Impact;
}

.noMargin{
    margin: 0px;
}
.paddingTop10{
    padding-top: 5px;
}