body{
    background-color: rgb(255, 243, 188);
    margin: 0px;
}
header{
    height: 50px;
    background-color: rgb(255, 186, 83);
    margin: 0px;
}
h1{
    font-family:Impact;
}

.noMargin{
    margin: 0px;
}
.paddingTop10{
    padding-top: 5px;
}
.bad{
   color:brown;
}
.textSize{
   font-size: 20px;
    text-decoration: aqua;
}

/*mokinames sewlektorius */
li{
    font-size: 20px;
}
.klase0{
    color: red;
}
#id0{
color: blue;
}
.class1.class2{
    text-decoration: underline;
}
.class3.class4{
    text-decoration: line-through;
}

section.class3 *{
    font-family: trebuchet;
}
h1, h2, h3{
    text-align: center;
}
.class3 > p{
    background-color: aqua;
}
.nth_lentele > table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto 50px;
}

.nth_lentele th, .nth_lentele td{
    border: 1px solid black;
font-size: 20px;
padding: 5px
text-allign:center;
}

 /* .nth_lentele tbody > tr:nth-child(3){
    color: red;
    background-color: blue;
}


   .nth_lentele tbody > tr:nth-child(2n){ 
        color: red;
        background-color: aquamarine;
    }*/

    .nth_lentele tbody > tr:hover{
        background-color: #ffa;
        }

.nth_lentele td::after{
    content: "";
}





        /* Stulpeliu zymejimas
        Position
        z-index
        width+height
        background-color */\

        * {
            box-sizing:border-box;
          }
        
        table {
            overflow: hidden;
            display:inline-block;
          }
          

        td, th {
            border: 1px solid #999;
            padding: 10px;
            position: relative;
        }
        
        th {
          background-color:#fff;
        }

        td:hover::before { 
            background-color: #eee;
            content: '';  
            height: 100%;
            left: -5000px;
            position: absolute;  
            top: 0;
            width: 10000px;   
            z-index: -2;        
        }
        
        td:hover::after { 
            background-color: #ffa;
            content: '';  
            height: 10000px;    
            left: 0;
            position: absolute;  
            top: -5000px;
            width: 100%;
            z-index: -1;        
        }