.kvadratas{
    display: inline-block;
    background-color: aquamarine;
border: 3px solid black;
width: 100px;
height: 100px;
line-height: 100px;
text-align: center;
font-size: 21px;
}
.statinis{
    position: static
}
.top20{
    top:20px
}
.reliatyvus{
    position: relative;
}
.left30{
    left: 30px;
}
.zIndex{
    z-index: 1;
}

.right40{
    right: 40px;
}

.bottom30{
    bottom: 30px;
}

.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.sticky{
    position: sticky;
}
.top20{
    top: 20px;
}

.imp{
    background-color: rgb(255, 167, 171);
}