html{
    --primary-text-color: #545454;
    --secondary-text-color: #f1d204;
    --third-text-color: #6a4d8a;
    --fourth-text-color: #f9c089;
    --main-background-color: #ffffff;
    --secondary-background-color: #292825;
    --reversed-text-color: #f7f7f7;
    }